:root {

  /* Colors */
  --color-primary-50: #F1ECFCFF;
  --color-primary-100: #D3C3F4FF;
  --color-primary-200: #BEA6EFFF;
  --color-primary-300: #A07DE8FF;
  --color-primary-400: #8D64E4FF;
  --color-primary-500: #713DDDFF;
  --color-primary-600: #6738C9FF;
  --color-primary-700: #502B9DFF;
  --color-primary-800: #3E227AFF;
  --color-primary-900: #2F1A5DFF;

  --color-secondary-50: #FFF6E6FF;
  --color-secondary-100: #FFE3B0FF;
  --color-secondary-200: #FFD68AFF;
  --color-secondary-300: #FEC355FF;
  --color-secondary-400: #FEB734FF;
  --color-secondary-500: #FEA501FF;
  --color-secondary-600: #E79601FF;
  --color-secondary-700: #B47501FF;
  --color-secondary-800: #8C5B01FF;
  --color-secondary-900: #6B4500FF;

  --color-greyscale-0: #FFFFFFFF;
  --color-greyscale-25: #F6F8FAFF;
  --color-greyscale-50: #ECEFF3FF;
  --color-greyscale-100: #DFE1E7FF;
  --color-greyscale-200: #C1C7D0FF;
  --color-greyscale-300: #A4ACB9FF;
  --color-greyscale-400: #818898FF;
  --color-greyscale-500: #666D80FF;
  --color-greyscale-600: #36394AFF;
  --color-greyscale-700: #272835FF;
  --color-greyscale-800: #1A1B25FF;
  --color-greyscale-900: #0D0D12FF;

  /* Alerts */
  --color-alert-error-0: #FFF0F3FF;
  --color-alert-error-25: #FADBE1FF;
  --color-alert-error-50: #ED8296FF;
  --color-alert-error-100: #DF1C41FF;
  --color-alert-error-200: #96132CFF;
  --color-alert-error-300: #710E21FF;

  --color-alert-warning-0: #FFF6E0FF;
  --color-alert-warning-25: #FAEDCCFF;
  --color-alert-warning-50: #FCDA83FF;
  --color-alert-warning-100: #FFBE4CFF;
  --color-alert-warning-200: #966422FF;
  --color-alert-warning-300: #5C3D1FFF;

  --color-alert-success-0: #EFFEFAFF;
  --color-alert-success-25: #DDF3EFFF;
  --color-alert-success-50: #9EE1D4FF;
  --color-alert-success-100: #40C4AAFF;
  --color-alert-success-200: #28806FFF;
  --color-alert-success-300: #184E44FF;

  /* Sky */
  --color-sky-0: #F0FBFFFF;
  --color-sky-25: #D1F0FAFF;
  --color-sky-100: #33CFFFFF;
  --color-sky-200: #116B97FF;
  --color-sky-300: #0C4E6EFF;

  --color-border: var(--color-greyscale-100);
  --color-primary: var(--color-primary-500);
  --color-danger: var(--color-alert-error-200);
  --color-warning: var(--color-alert-warning-200);
  --color-success: var(--color-alert-success-200);
  --bg-light: var(--color-greyscale-25);

  /* FONT FAMILY */
  --font-family: "Inter Tight", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* FONT-SIZE */
  --heading-h1: 3rem;
  --heading-h2: 2.5rem;
  --heading-h3: 2rem;
  --heading-h4: 1.5rem;
  --heading-h5: 1.25rem;
  --heading-h6: 1.125rem;

  --heading-h1: clamp(2rem, 5vw, 3rem);
  --heading-h2: clamp(1.75rem, 4vw, 2.5rem);
  --heading-h3: clamp(1.5rem, 3vw, 2rem);
  --heading-h4: clamp(1.25rem, 2.5vw, 1.5rem);
  --heading-h5: clamp(1rem, 2vw, 1.25rem);
  --heading-h6: clamp(0.875rem, 1.5vw, 1.125rem);

  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --text-lg: clamp(1rem, 1vw + 0.9rem, 1.125rem);
  --text-md: clamp(0.9375rem, 0.9vw + 0.85rem, 1rem);
  --text-sm: clamp(0.8125rem, 0.8vw + 0.75rem, 0.875rem);
  --text-xs: clamp(0.6875rem, 0.6vw + 0.65rem, 0.75rem);

  /* Line-heights */
  --lh-tight: 1.2;
  --lh-normal: 1.5;
  --lh-loose: 1.7;

  --shadow-xs: 0 1px 2px 0 rgba(13, 13, 18, 0.06);
  --shadow-sm: 0 1px 3px 0 rgba(13, 13, 18, 0.05), 0 1px 2px 0 rgba(13, 13, 18, 0.04);
  --shadow-md: 0 5px 10px -2px rgba(13, 13, 18, 0.04), 0 4px 8px -1px rgba(13, 13, 18, 0.02);
  --shadow-lg: 0 12px 16px -4px rgba(13, 13, 18, 0.08), 0 4px 6px -2px rgba(13, 13, 18, 0.03);
  --shadow-xl: 0 24px 48px -12px rgba(13, 13, 18, 0.12);
  --shadow-xxl: 0 24px 48px -12px rgba(13, 13, 18, 0.18);

  --radius-0: 8px;
  --radius-1: 12px;
  --radius-2: 1000px;

  --spacing-0: 0.25rem;
  /* 4px */
  --spacing-1: 0.5rem;
  /* 8px */
  --spacing-2: 0.75rem;
  /* 12px */
  --spacing-3: 1rem;
  /* 16px */
  --spacing-4: 1.25rem;
  /* 20px */
  --spacing-5: 2rem;
  /* 32px */


  --icon-xs: 1rem;
  --icon-sm: 1.25rem;
  --icon-md: 1.5rem;
  --icon-lg: 2.25rem;



}