.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

/* sizes */
.sm {
  font-size: 16px;
}

.md {
  font-size: 20px;
}

.lg {
  font-size: 24px;
}

/* colors */
.icon-inherit {
  color: currentColor;
}

.icon-brand {
  color: var(--color-primary);
}

.icon-danger {
  color: var(--color-danger);
}

.icon-muted {
  color: var(--color-greyscale-500);
}

.icon-white {
  color: var(--color-greyscale-0);
}