.table_container {
  width: 100%;
  border-radius: var(--radius-1);
  border: 1px solid var(--color-border);
  background: var(--color-greyscale-0);
  box-shadow: var(--shadow-xs);
}

.table_toolbar {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_toolbar_actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  outline: 1px var(--color-border) solid;
  outline-offset: -1px;
  height: 38px;
  padding: 8px 14px 8px 12px;
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  letter-spacing: 0.28px;
  min-width: 180px;
}

.badge {
  border-radius: 999px;
  color: var(--color-greyscale-0);
  padding: 2px 8px;
  display: inline-block;
}

.table {}