.appShell {
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden
}

.appShell_lg {
  grid-template-columns: 14rem minmax(0, 1fr);
}

.appShell_sm {
  grid-template-columns: 64px minmax(0, 1fr);
}

.main {
  overflow: hidden;
  min-height: 0;
  min-width: 0;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.layout_container {
  min-height: 0;
  min-width: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


.statusPane {
  min-height: 0;
  min-width: 0;
  overflow: auto;
  display: grid;
  place-items: center;
  padding: 2rem;
}